# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Allure
allure-report/

# Playwright Artifacts
screenshots/
videos/
traces/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env